  /* INICIO ESTILO DO CORPO PRINCIPAL */
body {
    background-color: #f1f1f1;
  }

  /* INICIO MODO ESCURO */
  .dark-mode {
    background-color: #252525;
    color: #f1f1f1;
  }

  #dark-mode-button {
    position: fixed;
    bottom: 45px;
    right: 50px;
    margin-right: -50px; /* para centralizar horizontalmente */
    margin-top: -25px; /* para centralizar verticalmente */
    font-size: 16px;
    padding: 10px;
    border-radius: 50%;
    background-color: #ffa500;
    color: #ffffff;
    border: none;
  }
  
  #dark-mode-button:hover {
    background-color: #ffd994;
  }
  /* FINAL */
  
  /* INICIO DAS 3 COLUNAS PRINCIPAIS */
  .coluna {
    max-width: 700px;
    padding-left: 10px;
    width: 33.33%;
    box-sizing: border-box;
    float: left;
  }
  
  .coluna-esquerda {
    text-align: left;
  }
  
  .coluna-central {
    text-align: center;
  }
  
  .coluna-direita {
    text-align: right;
  }
  
  .clearfix {
    clear: both;
  }
  /* FINAL DAS 3 COLUNAS PRINCIPAIS */
  
  h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* LISTA ORDENADA */
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    text-align: left;
    margin-top: 0;
    margin-bottom: 1px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* FINAL DA LISTA */

  /* RESPONSAVEL PELOS LINKS */
  a {
    text-decoration: none;
    color: #ffa500;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  a:hover {
    color: #ffd994;
  }
  /* FINAL */
  
  nav {
    text-align: center;
  }

  nav li {
    display: inline-block;
  }

  nav a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0;
    display: block;
    padding-left: 80px;
    text-decoration: none;
  }

  /* A PROPRIA CAIXA DE TEXTO */
  #input-option {
    color: #d8d8d8;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid #ffa500;
    border-radius: 15px;
  }

  #input-option:hover {
    border: 3px solid #ffdd9f;
  }

  #input-option:focus {
    color: #000;
    border: 3px solid #ffdd9f;
  }