/* DARK-MODE */
.dark-mode {
  background-color: #fff;
  color: #fff;
}

/* BOTAO DE DARK-MODE */
#dark-mode-button {
  margin-right: -50px; /* para centralizar horizontalmente */
  margin-top: -25px; /* para centralizar verticalmente */
  font-size: 16px;
  padding: 10px;
  border-radius: 50%;
  background-color: #dc143c;
  color: #ffffff;
  border: none;
}
  
/* HOVER NO BOTÃO DARK-MODE, MUDA DE COR QUANDO COLOCAR O MOUSE EM CIMA */
#dark-mode-button:hover {
  background-color: #dc143c;
}

/* CORPO PRINCIPAL DO SITE */
body {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

/* CORPO PRINCIPAL */
.container {
  width: 1300px;
  height: 900px;
  padding: 25px 32px;
  border-radius: 18px;
  justify-content: center;
  overflow: hidden;
  background: #505050;
  background-image: url('https://www.wallpaperflare.com/static/927/783/655/glitch-art-abstract-black-gray-wallpaper.jpg');
}

/* MENU DO CABEÇALHO */
nav {
  background-color: #fff;
  border-radius: 10px;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: -28px;
}

nav ul {
  display: inline-flex;
  list-style: none;
}

nav ul li {
  text-align: center;
  background-color: #dc143c;
  border-radius: 10px;
  width: 170px;
  margin: 5px;
  padding: 5px;
  margin-left: 13px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.sub-menu {
  display: none;
}

nav ul li:hover .sub-menu {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 9px;
  border-radius: 8px;
  background-color: #fff;
}

nav ul li:hover .sub-menu ul {
  display: block;
}

nav ul li:hover .sub-menu ul li {
  width: 150px;
  text-align: center;
  border-radius: 100px;
  background-color: #dc143c;
}

nav ul li:hover .sub-menu ul li:hover {
  background-color: #ff6785;
  transition: 0.6s ease-out;
}

/* COLUNA ESQUERDA */
.coluna-menu {
  float: left;
  width: 33.33%;
  padding: 5px;
  box-sizing: border-box;
}
  
/* COLUNA DO MEIO */
.coluna-menu2 {
  display: inline-block;
  width: 33.33%;
  padding: 5px;
  box-sizing: border-box;
}
  
/* COLUNA DIREITA */
.coluna-menu3 {
  float: right;
  width: 33.33%;
  padding: 5px;
  box-sizing: border-box;
}
  
  /* LISTA DOS MENUS */
.coluna-menu ul, .coluna-menu2 ul, .coluna-menu3 ul {
  margin: 0;
  padding: 0;
  list-style: none;
  }
  
  /* LISTA DOS MENUS */
.coluna-menu ul li, .coluna-menu2 ul li, .coluna-menu3 ul li {
  padding: 1px;
  text-align: left;
  font-weight: bold;
}
  
  /* LISTA DOS MENUS E DO LINK DA LISTA*/
.coluna-menu ul li a, .coluna-menu2 ul li a, .coluna-menu3 ul li a {
  display: block;
  background-color: #dc143c;
  color: white;
  padding-left: 5px;
  border-radius: 10px;
  margin-right: 35px;
  height: 30px;
}
  
  /* HOVER NOS BOTOES DA LISTA */
.coluna-menu ul li a:hover, .coluna-menu2 ul li a:hover, .coluna-menu3 ul li a:hover {
  background-color: #ff6785;
  transition: 0.6s ease-out;
}
  
  /* LISTAS */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fff;
  
}
  
li {
  margin-top: 0;
  margin-bottom: 1px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  
}

  /* LINKS */
a {
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
  
  /* HOVER NOS LINKS */
a:hover {
  color: #ffa2b5;
}

  /* A PROPRIA CAIXA DE TEXTO */
.input {
  text-align: center;
  padding: 5px;
  margin-bottom: -34px;
  box-sizing: border-box;
}
  
.input input {
  padding: 10px;
  width: 80%;
  border: 3px solid #dc143c;
  border-radius: 20px;
  outline: none;
  }